body {
	margin: 0;
	padding: 0;
	background-size: 100%;
	font-family: 'Noto Serif', serif;
    font-size: 16px;
    text-align: center;
}
.book_name {
    margin-top: 30px;
}

.form {
    //background: red;
    margin-top: 30px;
}

.book_name, .in_stock {
    border-color: brown;
    //background: red;
    border-radius: 5px;
    min-height: 30px;
    min-width: 100px;
}

.error_header {
    padding-top: 50px;
    font-size: 20px;
    padding-bottom: 30px;
    color: #6f4336;
}
.role {
    font-size: 16px;
    margin-top: -23px;
    margin-right: 200px;
}

.grid {
	display: grid;
	grid-template-columns: repeat(12,1fr);
	grid-template-rows: repeat(12,1fr);
	height: 100vh;

}

.header {
    grid-column-start: 1; 
    grid-column-end: 13; 
    grid-row-start: 1; 
    grid-row-end: 2;
	min-height: 30px;
	text-align: right;
	font-size: 20px;
    box-shadow: 0px 8px 65px 0px rgba(0,0,0,0.7);
    background: linear-gradient(to top, #ac614a, #6f4336);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.auth{
    grid-column-start: 3;
    grid-column-end: 4;
    text-align: right;
    padding-right: 40px;
    padding-top: 12px;
    display: inline-block;
    font-size: 18px;
}
.auth a {
    color: black;
}
.auth a i{
    color: white;
}
.auth a:hover i{
    transition: 0.3s;
    transform: scale(1.2);
}
.sig {
    display: inline-block;
    font-size: 16px;
    font-family: 'Merriweather', serif;
    text-shadow: #6f4336;
}

.logo {
    padding-left: 20px;
    padding-top: 10px;
    grid-column-start: 1;
    grid-column-end: 2;
    text-align: left;
    font-family: 'Merriweather', serif;
    text-shadow: #6f4336;
}

.content {
	background-color: white;
    border-radius: 12px;
    grid-column-start: 3;
    grid-column-end: 11;
    grid-row-start: 2; 
    grid-row-end: 12;
    opacity: 0.7;
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.content div a{
    color: #634229;
}

.footer {
	 grid-column-start: 1; 
     grid-column-end: 13; 
     grid-row-start: 12;
     grid-row-end: 13;
     width: 100%;
     bottom: 0;
	 min-height: 40px;
	 text-align: center;
	 font-size: 16px;
    box-shadow: 0px 8px 65px 0px rgba(0,0,0,0.5);
    background: linear-gradient(to top, #6f4336, #ac614a);
    padding-top: 11px;

}

h3 {
  text-align: center;
  color: #8B4513;
}
table{
    margin: auto;
	border-color: #8B4513;
}
td,th {
	color: #8B4513;
	font-size: 18px;
	text-align: center;
}

div a{
	text-decoration: none;
}
 div {
    list-style-type: none; 
}

input {
	color: #8B4513;
	font-size: 18px;
}
.b1 {
    background: white; /* Синий цвет фона */
    color: brown; /* Белые буквы */ /* Размер шрифта в пунктах */
    border-radius:  10px;
    border: 2px solid brown;
    width: 220px;
    cursor: pointer;
}

.grid div.cl-effect-21{
	background-color: white;
	display: grid;
}

.content_header{
    margin-bottom: -60px;
    max-height: 110px;
    padding-left: 20px;
    padding-right: 20px;
}
.grid div.cl-effect-21 .content_header{
	grid-column-start: 1;
	grid-column-end: 5;
    grid-row-start: 1;
	grid-row-end:2;
    color: #6f4336;
    font-size: 24px;
    padding-top: 10px;
}

.cl-effect-21 a {
  padding: 0px;
  color: #8B4513;
  font-weight: 700;
  text-shadow: none;
  transition: color 0.3s;
}

.cl-effect-21 a:hover, .cl-effect-21 a:focus {
    color: black;
}

.books_img{
	position: absolute;
	left:0px;
	height: 120px;
	width: 100%;
	background-image: url(../img/books2.jpg);
}
